.error {
  color: red;
}

.invalid {
  font-weight: bold;
  color: #cc0000;
}

.invalid input {
  border: 1px solid #cc0000;
}

#additional-item label{
	display: block;
}

.name {
	display: block;
}
div label {
	font-weight: bolder
}

#job-opportunity {
	font-weight: 100;
}

#talk-code {
	font-weight: 100;
}
/* input:invalid {
  box-shadow: 2px 2px 5px orangered;
}

input:valid {
  border: 1px solid forestgreen;
} */